<div class="list-wrap">
  <% @lists.each do |list| %>
    <div class="list-box">
      <%= attachment_image_tag list, :image, :fill, 200, 200, format: 'jpeg' %>
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%= link_to list.title, todolist_path(list.id) %></span>
    </div>
  <% end %>
</div>